@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
object-fit: fill;
}
section .contentBx
{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx
{
    width: 60%;
}
section .contentBx .formBx .hr1 h2{
    color: #202f36;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .hr1{
   margin-bottom: 30px;
}
section .contentBx .formBx .hr1::before{
    content: '';
    position: absolute;
    z-index: 1;
}
section .contentBx .formBx .hr1::after{
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 4px;
    background: #fdaf06;
    z-index: 2;
    transform-origin: left;
    transform:scaleX(0);
    animation: animate 10s ease-in-out 0s infinite ;
}
@keyframes animate{
    0%{
        transform: translate(0) scaleX(0);
        transform-origin: left;
    }
    20%,100%{
        transform: translate(0) scaleX(1);
        transform-origin: left;
    }
}
section .contentBx .formBx .password span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #4d628b;
    font-weight: 300;
    letter-spacing: 1px;
}
section .contentBx .formBx .password input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #4d628b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4d628b;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .password .fa{
   position: absolute;
   margin-top: 15px;
   margin-left: -30px;
}
section .contentBx .formBx hr{
    margin-top: 10%;
    color:#4d628b ;
}
.orDiv{
    width: 10%;
    margin: auto auto;
    background: white;
    position: relative;
    color:#4d628b ;
    top: -15.2px;
    justify-content: center;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #4d628b;
    font-weight: 300;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #4d628b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4d628b;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .remember{
    margin-top: 15px;
margin-bottom: 15px;
color:#4d628b ;
font-weight: 400;
font-size: 14px;
}
section .contentBx .formBx .inputBx button[type="submit"]{
    background:#fdaf06 ;
    width: 180px;
    height: 35px;
    margin-left: 140px;
    border-radius: 15px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
section .contentBx .formBx .inputBx button[type="submit"]:hover{
    background: #e69e03;
}
section .contentBx .formBx .remember{
margin-bottom: 10px;
color:#4d628b ;
font-weight: 400;
font-size: 14px;
}
section .contentBx .formBx .inputBx p{
    color:#4d628b ;
}
section .contentBx .formBx .inputBx p a{
    color:#e69e03 ;
}
section .contentBx .formBx  h3{
    color: #4d628b;
    text-align: center;
    margin-top: 5%;
    font-weight: 500;
}
section .contentBx .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: auto;
    cursor: pointer;
}
section .contentBx .formBx .sci li:hover{
    background: #4d628b70;
}
section .contentBx .formBx .sci li img{
    width: 50px;
    height: 50px;
    transform: scale(0.5);
}
@media(max-width:768px)
{
    section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
 section .imgBx{
     position: absolute;
     top: 0;
     left: 0;
     width:100%;
     height:100%
 }
 section .contentBx{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     z-index: 1;
 }
 section .contentBx .formBx{
     width: 100%;
     padding: 40px;
     background: rgb(255 255 255 / 0.9);
     margin: 50px;
 }
 section .contentBx .formBx h3{
     color:#4d628b;
     text-align: center;
     margin: 30px 0 10px;
     font-weight: 500;
 }
 .orDiv {
    width: 5%;
    margin: auto;
    background: #e3e3e3c4;
    position: relative;
    color: #4d628b;
    top: -38.9px;
    justify-content: center;
}
}
